
#main-content .gradeparent  {

	.theme-table-wrap {
		overflow: visible !important;
		border: 0 !important;
		margin-top: 0;
		table {
			background-color: #fff;

			td {
				font-weight: inherit;
			}
		}
	}

	.floating {
		z-index: 2;

		a {
			color: inherit;
		}
	}


	.sticky-nav1 &,
	.sticky-nav2 &,
	.sticky-nav3 &,
	.sticky-nav4 & {


		.theme-table-wrap,
		.floating {
			z-index: 4;
		}
	}

}
