{{#footer_1}}
  {{> theme_edumy/ccn_footer_default }}
{{/footer_1}}
{{#footer_2}}
  {{> theme_edumy/ccn_footer_default }}
{{/footer_2}}
{{#footer_3}}
  {{> theme_edumy/ccn_footer_default }}
{{/footer_3}}
{{#footer_4}}
  {{> theme_edumy/ccn_footer_4 }}
{{/footer_4}}
{{#footer_5}}
  {{> theme_edumy/ccn_footer_default }}
{{/footer_5}}
{{#footer_6}}
  {{> theme_edumy/ccn_footer_default }}
{{/footer_6}}
{{#footer_7}}
  {{> theme_edumy/ccn_footer_default }}
{{/footer_7}}
{{#footer_8}}
  {{> theme_edumy/ccn_footer_8 }}
{{/footer_8}}
{{#footer_9}}
  {{> theme_edumy/ccn_footer_9 }}
{{/footer_9}}


{{#back_to_top}}
  <a class="scrollToHome" href="#"><i class="flaticon-up-arrow-1"></i></a>
{{/back_to_top}}

{{#gmaps_key}}
  <script src="//maps.googleapis.com/maps/api/js?key={{gmaps_key}}"></script>
{{/gmaps_key}}

{{{custom_js}}}
{{{ output.standard_end_of_body_html }}}
