.modal-open .modal.show:not(.modal-in-page) {
  background: rgba(0, 0, 0, .8);
}
#notice.modal.modal-dialog.modal-in-page.show #modal-footer {
  padding-bottom: 0 !important;
}
.availability-field label {
  display: inline-flex;
}
.ccn_mc_content_header_status {
  color: #fff;
  line-height: 1;
}
.top_courses .thumb .overlay .tag {
  display: inline-block;
}
.modal:not(.sign_up_modal) .modal-dialog {
  max-height: 100%;
}
#ccn-visualize-search-blocks.ccnMdl310 {
  top: 11px;
}
#course-category-listings .listitem[data-selected="1"] {
  border-left: calc(1px + 5px) solid [[setting:color_primary]];
}
@media (min-width: 992px) {
  .modchoosercontainer .optionscontainer .option, .modchoosercontainer .searchresultitemscontainer .option {
    flex-basis: calc(16.66% - 1.2rem);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .03);
    border: 1px solid rgba(0, 0, 0, .08) !important;
    margin: .6rem !important;
  }
  .modchooser .modal-footer {
    height: auto;
  }
}
.ccn_context_dashboard #page-heading-button .page-context-header,
.ccn_context_focus #page-heading-button .page-context-header {
  display: none;
}
.top_courses .thumb .overlay .tag {
  display: inline-block;
}
.que ul,
.que ol {
  text-align: left;
}
.ccn_context_dashboard .que .formulation select,
.ccn_context_dashboard .que .formulation option {
  width: 100%;
}
