.ccn_context_frontend header.header-nav.menu_style_home_four .ace-responsive-menu>li>a {
  padding: 25px 25px 24px 10px;
}
.ccn_context_frontend .primary-navigation .navigation {
  height: 77px;
}
.ccn_context_frontend .header_user_notif {
  margin-top: 7px;
}
