.dashboard_main_content a {
  color: #555;
}
/* */
.aalink.focus,
#page-footer a:not([class]).focus,
.arrow_link.focus,
a:not([class]).focus,
.activityinstance>a.focus,
.aalink:focus,
#page-footer a:not([class]):focus,
.arrow_link:focus, a:not([class]):focus,
.activityinstance>a:focus {
  outline: none;
  color: inherit;
  background-color: inherit;
  box-shadow: inherit;
}
.aabtn.focus,
.btn-link.focus,
.nav-link.focus,
.atto_link_button.focus,
[role="button"].focus,
.list-group-item-action.focus,
input[type="checkbox"].focus,
input[type="radio"].focus,
input[type="file"].focus,
input[type="image"].focus,
.sr-only-focusable.focus,
a.dropdown-item.focus,
a.dropdown-toggle.focus,
.modal-dialog[tabindex="0"].focus,
.moodle-dialogue-base .closebutton.focus,
button.close.focus, .aabtn:focus,
.btn-link:focus,
.nav-link:focus,
.atto_link_button:focus,
[role="button"]:focus,
.list-group-item-action:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
input[type="file"]:focus,
input[type="image"]:focus,
.sr-only-focusable:focus,
a.dropdown-item:focus,
a.dropdown-toggle:focus,
.modal-dialog[tabindex="0"]:focus,
.moodle-dialogue-base .closebutton:focus,
button.close:focus {
  outline: none;
  box-shadow: none;
}
*:focus,
*:active,
input:active,
input:focus,
a:active,
a:focus,
button:active,
button:focus,
.form-control:focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
}
.bg-primary {
  background-color: [[setting:color_primary]];
}
