{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_etask/gradeitem_body

    This template renders the grade item body cell content.

    Example context (json):
    {
        "url": "/grade/edit/tree/grade.php?...",
        "title": "Passed",
        "value": "B- (80 %)",
        "css": "text-white"
    }
}}

{{#url}}
    <a href="{{{url}}}" class="d-block stretched-link {{css}}" title="{{title}}">{{{value}}}</a>
{{/url}}

{{^url}}
    <span class="d-block {{css}}">{{{value}}}</span>
{{/url}}
