{{> theme_edumy/head_dashboard }}
<body {{{ bodyattributes }}}>
  {{! theme_edumy/ccn_preloader }}
  <div class="wrapper" id="page-content">
    {{> theme_edumy/ccn_clean_navbar }}
    <div class="our-dashbord dashbord">
      <div class="dashboard_main_content">
        <div class="container-fluid">
          <div class="main_content_container">
            <div class="row">
              <div class="col-xl-12">
                <div class="row">
                  <div class="col-lg-12">
                    <nav class="breadcrumb_widgets {{{breadcrumb_clip_dash}}}" aria-label="breadcrumb mb30">
                      <h4 class="title float-left">{{{ pageheading }}}</h4>
                      <ol class="breadcrumb float-right">
                        {{{ output.navbar }}}
                      </ol>
                    </nav>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    {{{ output.standard_top_of_body_html }}}
                    {{{ output.full_header }}}
                    {{{ blocks_fullwidth_top }}}
                    {{{ output.region_main_settings_menu }}}
                    {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.activity_navigation }}}
                    {{{ output.course_content_footer }}}
                  </div>
                </div>
              </div>
            </div>
            {{> theme_edumy/ccn_clean_footer }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{{ output.standard_after_main_region_html }}}
</body>

</html>
{{#js}}
  M.util.js_pending('theme_boost/loader');
  require(['theme_boost/loader'], function() {
  M.util.js_complete('theme_boost/loader');
  });
  M.util.js_pending('theme_boost/drawer');
  require(['theme_boost/drawer'], function(mod) {
  mod.init();
  M.util.js_complete('theme_boost/drawer');
  });
{{/js}}
