<div class="header_top home6">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xl-5">
        <ul class="home4_header_top_contact">
          {{#phone}}
            <li class="list-inline-item"><a href="tel:{{{phone}}}">{{{phone}}}</a></li>
          {{/phone}}
          {{#email_address}}
            <li class="list-inline-item"><a href="mailto:{{{email_address}}}">{{{email_address}}}</a></li>
          {{/email_address}}
          {{#cta_text}}
            <li class="list-inline-item">
              {{#cta_link}}
                <a href="{{{cta_link}}}">
              {{/cta_link}}
              <em>{{{cta_text}}}</em>
              {{#cta_link}}
                </a>
              {{/cta_link}}
            </li>
          {{/cta_text}}
        </ul>
      </div>
      <div class="col-lg-7 col-xl-7">
        <ul class="sign_up_btn home6 dn-smd text-right">
          {{> theme_edumy/ccn_navbar_user_popup }}
          {{#header_search_bar}}
            <li class="list-inline-item dn-1366">
              <div class="ht_search_widget">
                <div class="header_search_widget">
                  {{{ccn_globalsearch_navbar}}}
                </div>
              </div>
            </li>
          {{/header_search_bar}}
          {{!<li class="list-inline-item">
            <div class="header_top_lang_widget_home6">
              <select class="selectpicker show-tick">
                <option>English</option>
                <option>Frenc</option>
                <option>Italian</option>
                <option>Spanish</option>
                <option>Turkey</option>
              </select>
            </div>
          </li>}}
        </ul><!-- Button trigger modal -->
      </div>
    </div>
  </div>
</div>

<!-- Main Header Nav -->
<header class="ccnHeader6 header-nav menu_style_home_six navbar-scrolltofixed main-menu">
  <div class="container">
    <!-- Ace Responsive Menu -->
    <nav>
      <!-- Menu Toggle btn-->
      <div class="menu-toggle">
        <img class="nav_logo_img img-fluid" src="{{{headerlogo2}}}" alt="{{{sitename}}}">
        <button type="button" id="menu-btn">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      {{#logo}}
        <a href="{{{ ccnLogoUrl }}}" class="navbar_brand float-left dn-smd">
          {{#logo_image}}<img class="logo1 img-fluid" src="{{{headerlogo2}}}" alt="{{{sitename}}}" {{#logo_styles}} style="{{{logo_styles}}}" {{/logo_styles}}>{{/logo_image}}
          {{#logo_image}}<img class="logo2 img-fluid" src="{{{headerlogo2}}}" alt="{{{sitename}}}" {{#logo_styles}} style="{{{logo_styles}}}" {{/logo_styles}}>{{/logo_image}}
          {{#logotype}}<span>{{{sitename}}}</span>{{/logotype}}
        </a>
      {{/logo}}
      {{#display_library_list}}
        <ul class="mt20 pull-left mr20 ml10">
          <li class="list-inline-item">
            <div class="header_top_lang_widget">
              <div class="ht-widget-container">
                <div class="vertical-wrapper">
                  <h2 class="title-vertical home3">
                    <span class="text-title">{{#str}}library, theme_edumy{{/str}}</span> <i class="fa fa-angle-down show-down" aria-hidden="true"></i>
                  </h2>
                  <div class="content-vertical">
                    {{{ ccn_librarylist }}}
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      {{/display_library_list}}

      {{#header_search_icon}}
        <div class="menu6_search home6 float-right">
          {{> theme_edumy/ccn_navbar_search_icon }}
        </div>
      {{/header_search_icon}}

      {{!<div class="search_overlay">
          <a id="search-button-listener" class="mk-search-trigger mk-fullscreen-trigger" href="#">
            <span id="search-button"><i class="flaticon-magnifying-glass"></i></span>
          </a>
          <div class="mk-fullscreen-search-overlay" id="mk-search-overlay">
            <a href="#" class="mk-fullscreen-close" id="mk-fullscreen-close-button"><i class="fa fa-times"></i></a>
            <div id="mk-fullscreen-search-wrapper">
              <form method="get" id="mk-fullscreen-searchform">
                <input type="text" value="" placeholder="" id="mk-fullscreen-search-input">
                <i class="flaticon-magnifying-glass fullscreen-search-icon"><input value="" type="submit"></i>
              </form>
            </div>
          </div>
        </div>}}

      <!-- Responsive Menu Structure-->
      <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
      <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
        {{{ output.custom_menu }}}
        {{> theme_edumy/ccn_navbar_user }}
      </ul>
    </nav>
    <!-- End of Responsive Menu -->
  </div>
</header>
