{{^preloader_disable}}
  <div class="preloader
    {{#preloader_load}} ccn_preloader_load {{/preloader_load}}
    {{#preloader_ready}} ccn_preloader_ready {{/preloader_ready}}
    {{#preloader_5}} ccn_preloader_5 {{/preloader_5}}
    {{#preloader_4}} ccn_preloader_4 {{/preloader_4}}
    {{#preloader_3}} ccn_preloader_3 {{/preloader_3}}
    {{#preloader_2}} ccn_preloader_2 {{/preloader_2}}
  "></div>
{{/preloader_disable}}
