<div class="search_overlay">
  <a id="search-button-listener" class="mk-search-trigger mk-fullscreen-trigger" href="#">
    <span id="search-button"><i class="flaticon-magnifying-glass"></i></span>
  </a>
</div>
