{{> theme_boost/head }}
<body {{{ bodyattributes }}}>
  {{> theme_edumy/ccn_preloader }}
  <div class="wrapper">
    {{> theme_boost/navbar }}
    <div id="ccn-page-wrapper">
      <div id="ccnSettingsMenuContainer"><div id="ccnSettingsMenuInner">{{! @ccnIrrevocable: These container divs #ccnSettingsMenuContainer/Inner must exist unconditionally, only contents can be conditional }}
        {{#show_settings_controls}}
          {{#hasregionmainsettingsmenu}}
            <div id="region-main-settings-menu" class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
              <div> {{{ output.region_main_settings_menu }}} </div>
            </div>
          {{/hasregionmainsettingsmenu}}
        {{/show_settings_controls}}
      </div></div>
      {{{ output.standard_top_of_body_html }}}
      <div>
        {{{ output.full_header }}}
        {{{ blocks_fullwidth_top }}}
        <div id="ccn-main-region">
          <div class="container">
            <div class="row">
              {{#sidebar_left}}
                <div class="{{#sidebar_double}} col-lg-3 col-xl-3 {{/sidebar_double}} {{^sidebar_double}} col-lg-4 col-xl-4 {{/sidebar_double}}">
                  <div class="ccn-sidebar-region" aria-label="{{#str}}blocks{{/str}}">
                    {{{ leftblocks }}}
                  </div>
                </div>
              {{/sidebar_left}}
              <div class="
                {{#sidebar_none}} col-md-12 col-lg-12 col-xl-12 {{/sidebar_none}}
                {{#sidebar_double}} col-lg-6 {{/sidebar_double}}
                {{#sidebar_single_left}} col-lg-8 col-xl-8 {{/sidebar_single_left}}
                {{#sidebar_single_right}} col-md-12 col-lg-8 col-xl-9 {{/sidebar_single_right}}
              ">
              <div id="region-main" {{#hasblocks}}class="--rm--has-blocks" {{/hasblocks}} aria-label="{{#str}}content{{/str}}">
                {{#hasregionmainsettingsmenu}}
                  <div class="region_main_settings_menu_proxy"></div>
                {{/hasregionmainsettingsmenu}}
                {{#has_blocks_above_content}}
                  {{{ blocks_above_content }}}
                {{/has_blocks_above_content}}
                <div id="ccn-main">
                  {{#is_course}}
                    {{^display_course_content}}
                      <div id="ccn_prohibit_course_content"></div>
                    {{/display_course_content}}
                    {{#display_course_content}}
                      {{^participant_user_profile}}
                        <div class="cs_row_three">
                          <div class="course_content">
                            <div class="cc_headers">
                              <h4 class="title">{{#str}}course_content, theme_edumy{{/str}}</h4>
                              <ul class="course_schdule float-right">
                                {{#show_course_start}}
                                  <li class="list-inline-item"><a href="#">{{#str}}startdate{{/str}}: {{{ coursestartdate }}} </a></li>
                                {{/show_course_start}}
                                {{#show_course_category}}
                                  <li class="list-inline-item"><a href="#">{{#str}}category{{/str}}: {{{ coursecategory }}}</a></li>
                                {{/show_course_category}}
                              </ul>
                            </div>
                            <br>
                      {{/participant_user_profile}}
                    {{/display_course_content}}
                  {{/is_course}}
                  {{{ output.course_content_header }}}
                  {{{ output.main_content }}}
                  {{#incourse}}
                    {{{ output.activity_navigation }}}
                  {{/incourse}}
                  {{{ output.course_content_footer }}}
                  {{#is_course}}
                    {{#display_course_content}}
                      {{^participant_user_profile}}
                          </div>
                        </div>
                      {{/participant_user_profile}}
                    {{/display_course_content}}
                  {{/is_course}}
                </div>
                {{#has_blocks_below_content}}
                  {{{ blocks_below_content }}}
                {{/has_blocks_below_content}}
              </div>
              </div>
              {{#sidebar_right}}
                <div class="col-lg-4 col-xl-3">
                  <div class="ccn-sidebar-region" aria-label="{{#str}}blocks{{/str}}">
                    {{{ sidepreblocks }}}
                  </div>
                </div>
              {{/sidebar_right}}
            </div>
          </div>
        </div>
        {{{ blocks_fullwidth_bottom }}}
      </div>
    </div>
  {{> theme_boost/footer }}
  </div>
  {{{ output.standard_after_main_region_html }}}
</body>

</html>
{{#js}}
  M.util.js_pending('theme_boost/loader');
  require(['theme_boost/loader'], function() {
  M.util.js_complete('theme_boost/loader');
  });
  M.util.js_pending('theme_boost/drawer');
  require(['theme_boost/drawer'], function(mod) {
  mod.init();
  M.util.js_complete('theme_boost/drawer');
  });
{{/js}}
