{{{custom_css_dashboard}}}
<header class="header-nav menu_style_home_one dashbord_pages navbar-scrolltofixed stricky main-menu" style="padding-bottom: 15px;">
  <div class="container-fluid">
    <nav>
      <div class="menu-toggle">
        <img class="nav_logo_img img-fluid" src="{{{headerlogo1}}}" alt="{{{sitename}}}">
        <button type="button" id="menu-btn">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      {{#logo}}
        <a href="{{{ ccnLogoUrl }}}" class="navbar_brand float-left dn-smd">
          {{#dash_header_white}}
            {{#logo_image}}<img class="logo1 img-fluid" src="{{{headerlogo2}}}" alt="{{{sitename}}}" {{#logo_styles}} style="{{{logo_styles}}}" {{/logo_styles}}>{{/logo_image}}
            {{#logo_image}}<img class="logo2 img-fluid" src="{{{headerlogo2}}}" alt="{{{sitename}}}" {{#logo_styles}} style="{{{logo_styles}}}" {{/logo_styles}}>{{/logo_image}}
          {{/dash_header_white}}
          {{^dash_header_white}}
            {{#logo_image}}<img class="logo1 img-fluid" src="{{{headerlogo1}}}" alt="{{{sitename}}}" {{#logo_styles}} style="{{{logo_styles}}}" {{/logo_styles}}>{{/logo_image}}
            {{#logo_image}}<img class="logo2 img-fluid" src="{{{headerlogo1}}}" alt="{{{sitename}}}" {{#logo_styles}} style="{{{logo_styles}}}" {{/logo_styles}}>{{/logo_image}}
          {{/dash_header_white}}
          {{#logotype}}<span>{{{ sitename }}}</span>{{/logotype}}
        </a>
      {{/logo}}
    </nav>
  </div>
</header>
<div id="page" class="stylehome1 h0">
  <div class="mobile-menu">
    <div class="header stylehome1 dashbord_mobile_logo dashbord_pages">
      <div class="main_logo_home2">
        <a href="{{{ ccnLogoUrl }}}" class="mobileBrand">
          {{#logo_image}}
            {{#headerlogo_mobile}}
              <img class="nav_logo_img img-fluid float-left mt20" src="{{{headerlogo_mobile}}}" alt="{{{sitename}}}" {{#logo_styles}} style="{{{logo_styles}}}" {{/logo_styles}}>
            {{/headerlogo_mobile}}
            {{^headerlogo_mobile}}
              <img class="nav_logo_img img-fluid float-left mt20" src="{{{headerlogo1}}}" alt="{{{sitename}}}" {{#logo_styles}} style="{{{logo_styles}}}" {{/logo_styles}}>
            {{/headerlogo_mobile}}
          {{/logo_image}}
          {{#logotype}}<span>{{{sitename}}}</span>{{/logotype}}
        </a>
      </div>
    </div>
  </div><!-- /.mobile-menu -->
</div>
