{{#cocoon_facebook_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_facebook_url }}}"><i class="fa fa-facebook"></i></a></li>
{{/cocoon_facebook_url}}
{{#cocoon_twitter_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_twitter_url }}}"><i class="fa fa-twitter"></i></a></li>
{{/cocoon_twitter_url}}
{{#cocoon_instagram_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_instagram_url }}}"><i class="fa fa-instagram"></i></a></li>
{{/cocoon_instagram_url}}
{{#cocoon_pinterest_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_pinterest_url }}}"><i class="fa fa-pinterest"></i></a></li>
{{/cocoon_pinterest_url}}
{{#cocoon_dribbble_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_dribbble_url }}}"><i class="fa fa-dribbble"></i></a></li>
{{/cocoon_dribbble_url}}
{{#cocoon_google_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_google_url }}}"><i class="fa fa-google"></i></a></li>
{{/cocoon_google_url}}
{{#cocoon_youtube_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_youtube_url }}}"><i class="fa fa-youtube-play"></i></a></li>
{{/cocoon_youtube_url}}
{{#cocoon_vk_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_vk_url }}}"><i class="fa fa-vk"></i></a></li>
{{/cocoon_vk_url}}
{{#cocoon_500px_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_500px_url }}}"><i class="fa fa-500px"></i></a></li>
{{/cocoon_500px_url}}
{{#cocoon_behance_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_behance_url }}}"><i class="fa fa-behance"></i></a></li>
{{/cocoon_behance_url}}
{{#cocoon_digg_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_digg_url }}}"><i class="fa fa-digg"></i></a></li>
{{/cocoon_digg_url}}
{{#cocoon_flickr_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_flickr_url }}}"><i class="fa fa-flickr"></i></a></li>
{{/cocoon_flickr_url}}
{{#cocoon_foursquare_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_foursquare_url }}}"><i class="fa fa-foursquare"></i></a></li>
{{/cocoon_foursquare_url}}
{{#cocoon_linkedin_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_linkedin_url }}}"><i class="fa fa-linkedin"></i></a></li>
{{/cocoon_linkedin_url}}
{{#cocoon_medium_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_medium_url }}}"><i class="fa fa-medium"></i></a></li>
{{/cocoon_medium_url}}
{{#cocoon_meetup_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_meetup_url }}}"><i class="fa fa-meetup"></i></a></li>
{{/cocoon_meetup_url}}
{{#cocoon_snapchat_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_snapchat_url }}}"><i class="fa fa-snapchat-ghost"></i></a></li>
{{/cocoon_snapchat_url}}
{{#cocoon_tumblr_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_tumblr_url }}}"><i class="fa fa-tumblr"></i></a></li>
{{/cocoon_tumblr_url}}
{{#cocoon_vimeo_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_vimeo_url }}}"><i class="fa fa-vimeo"></i></a></li>
{{/cocoon_vimeo_url}}
{{#cocoon_wechat_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_wechat_url }}}"><i class="fa fa-wechat"></i></a></li>
{{/cocoon_wechat_url}}
{{#cocoon_whatsapp_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_whatsapp_url }}}"><i class="fa fa-whatsapp"></i></a></li>
{{/cocoon_whatsapp_url}}
{{#cocoon_wordpress_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_wordpress_url }}}"><i class="fa fa-wordpress"></i></a></li>
{{/cocoon_wordpress_url}}
{{#cocoon_weibo_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_weibo_url }}}"><i class="fa fa-weibo"></i></a></li>
{{/cocoon_weibo_url}}
{{#cocoon_telegram_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_telegram_url }}}"><i class="fa fa-telegram"></i></a></li>
{{/cocoon_telegram_url}}
{{#cocoon_moodle_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_moodle_url }}}"><i class="fa fa-graduation-cap"></i></a></li>
{{/cocoon_moodle_url}}
{{#cocoon_amazon_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_amazon_url }}}"><i class="fa fa-amazon"></i></a></li>
{{/cocoon_amazon_url}}
{{#cocoon_slideshare_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_slideshare_url }}}"><i class="fa fa-slideshare"></i></a></li>
{{/cocoon_slideshare_url}}
{{#cocoon_soundcloud_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_soundcloud_url }}}"><i class="fa fa-soundcloud"></i></a></li>
{{/cocoon_soundcloud_url}}
{{#cocoon_leanpub_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_leanpub_url }}}"><i class="fa fa-leanpub"></i></a></li>
{{/cocoon_leanpub_url}}
{{#cocoon_xing_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_xing_url }}}"><i class="fa fa-xing"></i></a></li>
{{/cocoon_xing_url}}
{{#cocoon_bitcoin_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_bitcoin_url }}}"><i class="fa fa-btc"></i></a></li>
{{/cocoon_bitcoin_url}}
{{#cocoon_twitch_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_twitch_url }}}"><i class="fa fa-twitch"></i></a></li>
{{/cocoon_twitch_url}}
{{#cocoon_github_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_github_url }}}"><i class="fa fa-github"></i></a></li>
{{/cocoon_github_url}}
{{#cocoon_gitlab_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_gitlab_url }}}"><i class="fa fa-gitlab"></i></a></li>
{{/cocoon_gitlab_url}}
{{#cocoon_forumbee_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_forumbee_url }}}"><i class="fa fa-forumbee"></i></a></li>
{{/cocoon_forumbee_url}}
{{#cocoon_trello_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_trello_url }}}"><i class="fa fa-trello"></i></a></li>
{{/cocoon_trello_url}}
{{#cocoon_weixin_url}}
  <li class="list-inline-item"><a {{#social_target_href}} {{{ social_target_href }}} {{/social_target_href}} href="{{{ cocoon_weixin_url }}}"><i class="fa fa-weixin"></i></a></li>
{{/cocoon_weixin_url}}
