{{!
    @ccnRef: @template block_login
}}
<div class="heading">
  <h3 class="text-center">{{#str}} login_welcome, theme_edumy {{/str}}</h3>
  {{#signup_is_enabled}}
    <p class="text-center">{{#str}} login_no_account, theme_edumy {{/str}} <a class="text-thm" href="{{{ config.wwwroot }}}/login/signup.php">{{#str}} signup, theme_edumy {{/str}}</a></p>
  {{/signup_is_enabled}}
</div>
{{{ ccn_login }}}
