<div class="form-group row  fitem   ">
    <div class="col-md-3">
    </div>
    <div class="col-md-9 form-inline felement" data-fieldtype="select">
        <a id="add-new-form" href="#">{{#str}} efb-heading-newform, local_edwiserform {{/str}}</a> |
        <a id="edit-form" href="#">{{#str}} edit, core_moodle {{/str}}</a> |
        <a id="preview-form" href="#">{{#str}} preview, edwiserform {{/str}}</a> |
        <a id="all-forms" href="#">{{#str}} efb-heading-listforms, local_edwiserform {{/str}}</a>
    </div>
</div>