{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_myoverview/main

    This template renders the main content area for the myoverview block.

    Example context (json):
    {}
}}

<div id="block-myoverview-{{uniqid}}" class="my_course_content_container block-myoverview block-cards" data-region="myoverview" role="navigation">
  <div class="my_course_content mb30">
    <div class="my_course_content_header">
        <div class="candidate_revew_select style2 text-right w-100" data-region="filter" aria-label="{{#str}} aria:controls, block_myoverview {{/str}}">
          <div data-region="filter" class="d-flex align-items-center" aria-label="{{#str}} aria:controls, block_myoverview {{/str}}">
              {{> theme_edumy/ccn_mdl_400/block_myoverview/nav-search-widget }}
              {{> theme_edumy/ccn_mdl_400/block_myoverview/nav-grouping-selector }}
              {{> theme_edumy/ccn_mdl_400/block_myoverview/nav-sort-selector }}

              {{#displaydropdown}}
              {{!#    > theme_edumy/ccn_mdl_400/block_myoverview/nav-display-selector  }}
              {{/displaydropdown}}
          </div>
      </div>
    </div>

    <div class="container-fluid p-0">
        {{> theme_edumy/ccn_mdl_400/block_myoverview/courses-view }}
    </div>
</div></div>
{{#js}}
require(
[
    'jquery',
    'block_myoverview/main',
],
function(
    $,
    Main
) {
    var root = $('#block-myoverview-{{uniqid}}');
    Main.init(root);
});
{{/js}}
