<div class="header_top home3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 col-xl-5">
        <ul class="home3_header_top_contact pull-left">
          {{#phone}}
            <li class="list-inline-item"><a href="tel:{{{phone}}}">{{{phone}}}</a></li>
          {{/phone}}
          {{#email_address}}
            <li class="list-inline-item"><a href="mailto:{{{email_address}}}">{{{email_address}}}</a></li>
          {{/email_address}}
        </ul>
      </div>
      <div class="col-lg-7 col-xl-7">
        <ul class="sign_up_btn pull-right dn-smd mt15 home3">
          {{#cta_text}}
            <li class="list-inline-item cta-btn"><a href="{{{cta_link}}}" class="btn btn-md"><i class="{{{cta_icon}}}"></i> <span class="dn-md">{{{cta_text}}}</span></a></li>
          {{/cta_text}}
          {{> theme_edumy/ccn_navbar_user_popup }}
        </ul><!-- Button trigger modal -->
      </div>
    </div>
  </div>
</div>
<!-- Main Header Nav -->
<header class="ccnHeader3 header-nav menu_style_home_three navbar-scrolltofixed stricky main-menu">
  <div class="container-fluid">
    <!-- Ace Responsive Menu -->
    <nav class="ccn_nav_group">
      <!-- Menu Toggle btn-->
      <div class="menu-toggle">
        <img class="nav_logo_img img-fluid" src="{{{headerlogo1}}}" alt="{{{sitename}}}">
        <button type="button" id="menu-btn">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      {{#logo}}
        <a href="{{{ ccnLogoUrl }}}" class="navbar_brand float-left dn-smd">
          {{#logo_image}}<img class="logo1 img-fluid" src="{{{headerlogo1}}}" alt="{{{sitename}}}" {{#logo_styles}} style="{{{logo_styles}}}" {{/logo_styles}}>{{/logo_image}}
          {{#logo_image}}<img class="logo2 img-fluid" src="{{{headerlogo2}}}" alt="{{{sitename}}}" {{#logo_styles}} style="{{{logo_styles}}}" {{/logo_styles}}>{{/logo_image}}
          {{#logotype}}<span>{{{ sitename }}}</span>{{/logotype}}
        </a>
      {{/logo}}
      <!-- Responsive Menu Structure-->
      <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
      <div class="ht_left_widget home3 float-left">
        <ul>
          {{#display_library_list}}
            <li class="list-inline-item">
              <div class="header_top_lang_widget">
                <div class="ht-widget-container">
                  <div class="vertical-wrapper">
                    <h2 class="title-vertical home3">
                      <span class="text-title">{{#str}}library, theme_edumy{{/str}}</span> <i class="fa fa-angle-down show-down" aria-hidden="true"></i>
                    </h2>
                    <div class="content-vertical">
                      {{{ ccn_librarylist }}}
                    </div>
                  </div>
                </div>
              </div>
            </li>
          {{/display_library_list}}
          {{#header_search_icon}}
            <li class="list-inline-item list_s">
              {{> theme_edumy/ccn_navbar_search_icon }}
            </li>
          {{/header_search_icon}}
          {{#header_search_bar}}
            <li class="list-inline-item dn-1366">
              <div class="ht_search_widget">
                <div class="header_search_widget">
                  {{{ccn_globalsearch_navbar}}}
                </div>
              </div>
            </li>
          {{/header_search_bar}}
          {{#has_navbar_blocks}}
            <li class="list-inline-item dn-1366">
              <div class="ht_search_widget">
                <div class="header_search_widget">
                  {{{ navbar_blocks }}}
                </div>
              </div>
            </li>
            <li class="list-inline-item list_s dib-1366 dn">
              <div class="search_overlay home3">
                <a id="search-button-listener" class="mk-search-trigger mk-fullscreen-trigger" href="#">
                  <span id="search-button"><i class="flaticon-magnifying-glass"></i></span>
                </a>
              </div>
            </li>
          {{/has_navbar_blocks}}
        </ul>
      </div>
      <nav class="navbar navbar-expand" aria-label="{{#str}}sitemenubar, admin{{/str}}">
        {{#primarymoremenu}}
          <div class="primary-navigation">
            {{> theme_edumy/ccn_mdl_400/moremenu}}
          </div>
        {{/primarymoremenu}}
        <ul class="navbar-nav d-none d-md-flex my-1 px-1">
          <!-- page_heading_menu -->
          {{{ output.page_heading_menu }}}
        </ul>
      </nav>


      <ul id="respMenu" class="" data-menu-style="horizontal">

        {{> theme_edumy/ccn_navbar_user }}
      </ul>
    </nav>
    <!-- End of Responsive Menu -->
  </div>
</header>
