<div id="page" class="stylehome1 home2 h0">
  <div class="mobile-menu">
    <div class="header stylehome1">
      {{#logo}}
        <div class="main_logo_home2">
          <a class="mobileBrand" href="{{{ ccnLogoUrl }}}">
            {{#logo_image}}
              {{#headerlogo_mobile}}
                <img class="nav_logo_img img-fluid float-left mt20" src="{{{headerlogo_mobile}}}" alt="{{{sitename}}}" {{#logo_styles}} style="{{{logo_styles}}}" {{/logo_styles}}>
              {{/headerlogo_mobile}}
              {{^headerlogo_mobile}}
                <img class="nav_logo_img img-fluid float-left mt20" src="{{{headerlogo1}}}" alt="{{{sitename}}}" {{#logo_styles}} style="{{{logo_styles}}}" {{/logo_styles}}>
              {{/headerlogo_mobile}}
            {{/logo_image}}
            {{#logotype}}<span>{{{sitename}}}</span>{{/logotype}}
          </a>
        </div>
      {{/logo}}
      <ul class="menu_bar_home2">
        {{#header_search_icon}}
          <li class="list-inline-item">
            <div class="search_overlay">
              <a id="search-button-listener2" class="mk-search-trigger mk-fullscreen-trigger" href="#">
                <div id="search-button2"><i class="flaticon-magnifying-glass"></i></div>
              </a>
            </div>
          </li>
        {{/header_search_icon}}
        <li class="list-inline-item ccn_mob_menu_trigger {{^header_search_icon}} ccn_mob_menu_trigger_standalone {{/header_search_icon}}"><a href="#menu"><span></span></a></li>
      </ul>
    </div>
  </div><!-- /.mobile-menu -->
  <nav id="menu" class="stylehome1">
    <ul>
      {{#display_library_list}}
        <li class="ccn_mob_menu_library">
          <a href="#vertical-menu">{{#str}}library, theme_edumy{{/str}} <i class="flaticon-right-arrow"></i></a>
          {{{ ccn_librarylist }}}
        </li>
      {{/display_library_list}}
      {{{ output.custom_menu }}}
      {{> theme_edumy/ccn_header_mob_user }}
      {{#phone}}
        <li class="ccn_mob_menu_iconed"><a href="tel:{{{phone}}}"><i class="flaticon-phone-call"></i> {{{phone}}}</a></li>
      {{/phone}}
      {{#email_address}}
        <li class="ccn_mob_menu_iconed"><a href="mailto:{{{email_address}}}"><i class="flaticon-paper-plane"></i> {{{email_address}}}</a></li>
      {{/email_address}}
      {{#cta_link}}
        <li class="ccn_mob_menu_iconed"><a href="{{{cta_link}}}" class=""><i class="{{{ cta_icon }}}"></i> {{{cta_text}}}</a></li>
      {{/cta_link}}
    </ul>
  </nav>
</div>
