{{#header_1}}
  {{> theme_edumy/ccn_mdl_400/ccn_header_1 }}
  {{> theme_edumy/ccn_mdl_400/ccn_header_mob_1 }}
{{/header_1}}
{{#header_2}}
  {{> theme_edumy/ccn_mdl_400/ccn_header_2 }}
  {{> theme_edumy/ccn_mdl_400/ccn_header_mob_2 }}
{{/header_2}}
{{#header_3}}
  {{> theme_edumy/ccn_mdl_400/ccn_header_3 }}
  {{> theme_edumy/ccn_mdl_400/ccn_header_mob_3 }}
{{/header_3}}
{{#header_4}}
  {{> theme_edumy/ccn_mdl_400/ccn_header_4 }}
  {{> theme_edumy/ccn_mdl_400/ccn_header_mob_4 }}
{{/header_4}}
{{#header_5}}
  {{> theme_edumy/ccn_mdl_400/ccn_header_5 }}
  {{> theme_edumy/ccn_mdl_400/ccn_header_mob_5 }}
{{/header_5}}
{{#header_6}}
  {{> theme_edumy/ccn_mdl_400/ccn_header_6 }}
  {{> theme_edumy/ccn_mdl_400/ccn_header_mob_6 }}
{{/header_6}}
{{#header_7}}
  {{> theme_edumy/ccn_mdl_400/ccn_header_7 }}
  {{> theme_edumy/ccn_mdl_400/ccn_header_mob_7 }}
{{/header_7}}
{{#header_8}}
  {{> theme_edumy/ccn_mdl_400/ccn_header_8 }}
  {{> theme_edumy/ccn_mdl_400/ccn_header_mob_8 }}
{{/header_8}}
{{#header_9}}
  {{> theme_edumy/ccn_mdl_400/ccn_header_9 }}
  {{> theme_edumy/ccn_mdl_400/ccn_header_mob_9 }}
{{/header_9}}
{{#header_10}}
  {{> theme_edumy/ccn_mdl_400/ccn_header_10 }}
  {{> theme_edumy/ccn_mdl_400/ccn_header_mob_10 }}
{{/header_10}}
{{#header_11}}
  {{> theme_edumy/ccn_mdl_400/ccn_header_11 }}
  {{> theme_edumy/ccn_mdl_400/ccn_header_mob_11 }}
{{/header_11}}
{{#header_12}}
  {{> theme_edumy/ccn_mdl_400/ccn_header_12 }}
  {{> theme_edumy/ccn_mdl_400/ccn_header_mob_12 }}
{{/header_12}}
{{#header_13}}
  {{> theme_edumy/ccn_mdl_400/ccn_header_13 }}
  {{> theme_edumy/ccn_mdl_400/ccn_header_mob_13 }}
{{/header_13}}
{{#header_14}}
  {{> theme_edumy/ccn_mdl_400/ccn_header_14 }}
  {{> theme_edumy/ccn_mdl_400/ccn_header_mob_14 }}
{{/header_14}}
{{> theme_edumy/ccn_modals }}
{{> theme_edumy/ccn_breadcrumb }}
