
.mb2pb-alert {
	position: relative;

	p {
		margin: 0;
	}

	.close {
		position: absolute;
		top: .2rem;
    	right: .4rem;
	}

	&.closebtn0 {
		.close {
			display: none;
		}
	}

	h1,h2,h3,h4,h5,h6 {
		color: inherit;
	}
}
