
.loading-scr {
    position: fixed;
    background-color: $loadingscrbg;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
	text-align: center;

	.loading-scr-inner {
		position: absolute;
		left: 0;
        right: 0;
		top: 40%;
	}

	.loading-scr-spinner {
		top: 15px;
		position: relative;
	}

    .loading-scr-logo {
        max-height: $logoh;
        width: auto;
    }

}
